apiVersion: v1
kind: Pod
metadata:
  name: "streamlit"
  labels:
    app: "streamlit"
spec:
  containers:
  - name: streamlit
    image: "ghcr.io/1995parham-learning/streamlist:latest"
    resources:
      limits:
        cpu: 200m
        memory: 500Mi
      requests:
        cpu: 100m
        memory: 200Mi
    ports:
    - containerPort: 1378
      name:  http
  restartPolicy: Always
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: streamlit
  name: streamlit
spec:
  ports:
  - port: 1378
    protocol: TCP
    targetPort: 1378
  selector:
    app: streamlit
  sessionAffinity: None
  type: ClusterIP
